<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Add new entry</h1>
<form method="POST" action="add?api_key=<%= apiKey %>&document=<%= document %>">
<input type="text" name="wisher" placeholder="wisher name" required />
<input type="text" name="wish" placeholder="enter wish" required />
<button type="submit">submit</button>
</form>
</body>
</html>